<div class="myContainer" >
  <div class="top">
    <img class="bulb" appBulb src="" height="128px" width="128px">
    <p class="topName">VARGHA PÉTER</p>
    <p class="topTitle">VILLANYSZERELŐ</p>
    <ul class="list-middot">
      <li>Új kialakítás</li>
      <li>Felújítás, javítás</li>
      <li>Okosotthon</li>
    </ul>
  </div>
  <div class="bottom">
    <p class="pBottom">Tel: <a href="tel:+36703690530">+36 70 369 05 30</a></p>
    <p class="pBottom">Email: <a href="mailto: vargha.peter94@gmail.com">vargha.peter94@gmail.com</a></p>
  </div>
</div>
