/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "sifonn";
  src: local("SIFONN"), url(./assets/fonts/SIFONN.otf) format("opentype");
}
@font-face {
  font-family: "nowreg";
  src: local("nowreg"), url(./assets/fonts/Now-Regular.otf) format("opentype");
}
